{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image mt-2" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <a href="{{ path('task_create') }}" class="btn btn-info col-auto">Créer une tâche</a>
    <div class="row g-3">
        {% for task in tasks %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="float-end">
                        {% if task.isDone %}<i class="fa-solid fa-check fs-3 text-success"></i>{% else %}<i class="fa-solid fa-xmark fs-3 text-danger"></i>{% endif %}
                    </div>
                    <h4><a href="{{ path('task_edit', {'id' : task.id }) }}" class="text-black-50 text-decoration-none">{{ task.title }}</a></h4>
                </div>
                <div class="card-body">
                    <p>{{ task.content }}</p>
                </div>
                <div class="card-footer">
                    <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                        <button class="btn btn-sm float-end {% if task.isDone %} btn-danger {% else %} btn-success{% endif %}">
                            {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                        </button>
                    </form>
                    {% if is_granted('task.canManageTask', task) %}
                        <form action="{{ path('task_delete', {'id' : task.id }) }}">
                            <button class="btn btn-danger btn-sm float-end me-2">Supprimer</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée. <a href="{{ path('task_create') }}" class="btn btn-warning float-end">Créer une tâche</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
